:root {
  --md-primary-fg-color:        #4B59A4;
  --md-primary-fg-color--light: #86B4E2;
  --md-primary-fg-color--dark:  #384797;
  --md-primary-bg-color: #FFFBE1;
  --md-primary-bg-color--light: #ffffff;

  --md-accent-fg-color:                hsla(hsl(37, 95%, 62%), 1);
  --md-accent-fg-color--transparent:   hsla(hsl(37, 95%, 62%), 0.1);
  --md-accent-bg-color:                hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7);
}